---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
talkmap_link: true
---
{% if site.talkmap_link == true %}
<!--<p style="text-decoration:underline;"><a href="/talkmap.html">Map View</a></p>-->
<iframe src="/talkmap/map.html" height="650" width="850" style="border:none;"></iframe>
{% endif %}
{% assign today_date = 'now' | date: "%Y-%m-%d" %}
**>Upcoming**
{% for post in site.talks reversed %}
  {% if post.date > today_date %}
    {% include archive-single-talk.html %}
  {% else %}
    **Past Appearances**
    {% include archive-single-talk.html %}
  {% end if %}
{% end for %}